In [1]:
list = [12,32,23,13]
print(list)

[12, 32, 23, 13]

# List comprehension

In [2]:
fruits = ["APPLE","BANANA","MANGO","ORANGE"]
lowered_fruits = []
for fruit in fruits:
    lowered_fruits.append(fruit.lower())
print(lowered_fruits)

['apple', 'banana', 'mango', 'orange']

In [3]:
# alternate way

In [9]:
[fruit.lower() for fruit in fruits]

['apple', 'banana', 'mango', 'orange']

# square and cube of number

In [14]:
[index**2 for index in range(1,15) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [15]:
[index**3 for index in range(1,15)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

```python
[index**3 for index in range(1,15)]
```

In [19]:
%%time
for i in range(70000):
    plus_1= i+1

CPU times: total: 0 ns
Wall time: 12 ms

In [3]:
%%time
time [i+1 for i in range(1)]

CPU times: total: 0 ns
Wall time: 0 ns
CPU times: total: 0 ns
Wall time: 0 ns

[1]

# List comprehension with (if)

### Accept only number lower than 5 frim range -5 to 10

In [23]:
list1 = [] 
for num in range(-5,10):
    if num < 10:
        list1.append(num)

In [24]:
list1

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[num for num in range(-5,10) if num <10]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
fruits = ["apple","banana","mango","orange"]
[fruit for fruit in fruits if fruit !="apple"]

['banana', 'mango', 'orange']

```python
[expression for item in iterable if True]
```

# list comprehension with if else statement

```python
[expression if true else expression for item in iterables]
```

In [30]:
[0 if x>=0 else x for x in range(-15,15)]

[-15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [31]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x if x == "banana" else "orange" for x in fruits]
print(newlist)

['orange', 'banana', 'orange', 'orange', 'orange']

 # frozenSet : immutable version of python set

In [1]:
cities = {"Kathmandu","lalitpur","pokhara","bhaktapur","kavre","dharan"}

In [2]:
frozen_cities = frozenset(cities)
frozen_cities

frozenset({'Kathmandu', 'bhaktapur', 'dharan', 'kavre', 'lalitpur', 'pokhara'})

In [3]:
type(frozen_cities)

frozenset

In [4]:
frozen_cities.add("biratnagar")

AttributeError: 'frozenset' object has no attribute 'add'