# Dictionary
* mapping data types
* syntax:
```python
{
    key:value
}
```
* no duplicate keys

# creating empty dictionary

In [9]:
about = {}
type(about)

dict

In [10]:
#alternative way
about = dict()

In [11]:
type(about)

dict

# adding key value pairs in dictionary

In [12]:
dict1 = {}

In [13]:
#add key value pair

In [22]:
about["manzil"]="manzil"

In [23]:
about

{'m': 'manzil', 'manzil': 'manzil'}

In [24]:
# other ways to add key value pairs

In [25]:
about.update({"works_at": "broadway "})

In [26]:
about

{'m': 'manzil', 'manzil': 'manzil', 'works_at': 'broadway '}

In [27]:
about ['learns'] = {'python','data science','machine learning','AI','Deep learning','coding'}

In [28]:
about

{'m': 'manzil',
 'manzil': 'manzil',
 'works_at': 'broadway ',
 'learns': {'AI',
  'Deep learning',
  'coding',
  'data science',
  'machine learning',
  'python'}}

In [29]:
about['age'] = 17

In [30]:
about

{'m': 'manzil',
 'manzil': 'manzil',
 'works_at': 'broadway ',
 'learns': {'AI',
  'Deep learning',
  'coding',
  'data science',
  'machine learning',
  'python'},
 'age': 17}

# .update()methods add key value pair if key doesn't exist if it exists it updates the value

In [31]:
about.update ({'name':'Manzil Shrestha'})

In [32]:
about

{'m': 'manzil',
 'manzil': 'manzil',
 'works_at': 'broadway ',
 'learns': {'AI',
  'Deep learning',
  'coding',
  'data science',
  'machine learning',
  'python'},
 'age': 17,
 'name': 'Manzil Shrestha'}

# create a dictionary with key as a country name and value as its capital

In [33]:
country = {
    'Nepal':'Kathmandu','India':'New-Delhi','China':'Beijing','Bangladesh':'Dhaka'
}

In [34]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka'}

In [35]:
country.update({'bhutan':'thimpu'})

In [36]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

# What are valid keys?

In [37]:
num = {
    1:'One',
    2:'Two',
    3:'Three'
}

In [38]:
num #int can be keys

{1: 'One', 2: 'Two', 3: 'Three'}

In [39]:
num.update({1.2:'one dot two'}) #float values can be keys

In [40]:
num

{1: 'One', 2: 'Two', 3: 'Three', 1.2: 'one dot two'}

In [41]:
{
    ['one','two']:12
}#list tuples cannot be keys

TypeError: unhashable type: 'list'

# Accessing values of a key

In [42]:
country = {'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [43]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [44]:
country['bhutan']

'thimpu'

In [45]:
country.get('bhutan')

'thimpu'

In [46]:
list(country)

['Nepal', 'India', 'China', 'Bangladesh', 'bhutan']

# What are my keys and values

In [47]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [48]:
country.keys()

dict_keys(['Nepal', 'India', 'China', 'Bangladesh', 'bhutan'])

In [49]:
list(country.keys())

['Nepal', 'India', 'China', 'Bangladesh', 'bhutan']

In [50]:
country.values()

dict_values(['Kathmandu', 'New-Delhi', 'Beijing', 'Dhaka', 'thimpu'])

In [51]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New-Delhi'), ('China', 'Beijing'), ('Bangladesh', 'Dhaka'), ('bhutan', 'thimpu')])

# tuple unpacking

In [52]:
a,b=(3,4)

In [53]:
a

3

In [54]:
b

4

# looping in dictionary

In [55]:
country = {'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [56]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New-Delhi'), ('China', 'Beijing'), ('Bangladesh', 'Dhaka'), ('bhutan', 'thimpu')])

In [57]:
for key, value in country.items():
    print(key)

Nepal
India
China
Bangladesh
bhutan

In [58]:
for key, value in country.items():
    print(value)

Kathmandu
New-Delhi
Beijing
Dhaka
thimpu

In [59]:
for key,value in country.items():
    print(f"your country is {key} and the capital is {value}")

your country is Nepal and the capital is Kathmandu
your country is India and the capital is New-Delhi
your country is China and the capital is Beijing
your country is Bangladesh and the capital is Dhaka
your country is bhutan and the capital is thimpu

# pop(key)

In [60]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [61]:
country.pop('China')

'Beijing'

In [62]:
country

{'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

# dictionary comprehension
 - Write a program to swap key value pair from given dictionary

country = {'Nepal': 'Kathmandu',
 'India': 'New-Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'bhutan': 'thimpu'}

In [63]:
{val:key for key, val in country.items()}

{'Kathmandu': 'Nepal',
 'New-Delhi': 'India',
 'Dhaka': 'Bangladesh',
 'thimpu': 'bhutan'}

# Nested Dictionary

In [64]:
children = {
    "child1":{"name":"MANZIL","year":2005},
    "child2":{"name":"SOM","year":2004},
    "child3":{"name":"fns","year":1990}
}

In [65]:
children

{'child1': {'name': 'MANZIL', 'year': 2005},
 'child2': {'name': 'SOM', 'year': 2004},
 'child3': {'name': 'fns', 'year': 1990}}

In [66]:
for key,value in children.items():
    print(value.get('name'))

MANZIL
SOM
fns

In [67]:
for key, value in children.items(): #alternate way
    child_name = value.get('name')
    print(child_name)

MANZIL
SOM
fns

In [68]:
for key, value in children.items():
    print(value.get('year'))

2005
2004
1990

In [69]:
diction = {
    "manzil"
}

In [70]:
diction

{'manzil'}

In [71]:
type(diction)

set