# how to check if something is in the list or not? - membership operators

In [ ]:
student = ["shraddha","manzil","jyoti","darshan","rekha"] 
"kshitiz" in student

In [ ]:
"rekha" in student

In [ ]:
"ram" not in student

In [ ]:
"ram" in student

In [ ]:
"manzil" not in student

# python list are mutable

In [ ]:
fruits = ["apple","banana","mango","orange","pear"]
fruits [1]

In [ ]:
fruits [1] = "papaya"

In [ ]:
fruits[1]

In [ ]:
fruits

In [ ]:
fruits [1:3]

In [ ]:
fruits

In [ ]:
fruits[1:3] =["black current","guava"]

In [ ]:
fruits

# List methods
# .insert()

In [ ]:
# insert ()

In [1]:
fruits = ['apple', 'black current', 'guava', 'orange', 'pear']

In [2]:
fruits.insert(1, "dragaonfruit")

In [3]:
fruits

['apple', 'dragaonfruit', 'black current', 'guava', 'orange', 'pear']

# .append()

In [ ]:
# creating empty list

In [4]:
cars = []

In [5]:
type(cars)

list

In [6]:
cars

[]

In [7]:
# other ways to create empty list

In [8]:
cars  = list() #using list constructor

In [9]:
type(cars)

list

In [10]:
cars

[]

In [11]:
cars.append("audi")

In [12]:
cars

['audi']

In [13]:
cars.append("bentley")

In [14]:
cars.append("mercedes")

In [15]:
cars

['audi', 'bentley', 'mercedes']

In [16]:
#wap to print even number from 1 to 10 in list

list1 = [1, 2, 3, 4, 5, 6,7,8,9,10]


for num in list1:
	if num % 2 == 0:
		print(num, end=" ")

2 4 6 8 10

In [17]:
even = []
odd = []
for num in range(1,10):
    if num % 2 == 0:
        print(num)

2
4
6
8

# you can append elements from another list to the current list. Use the extend method

In [1]:
a = [55,66,3]
b = [5,2,1]

In [4]:
a + b #concat the list

[55, 66, 3, 5, 2, 1, 55, 66, 3]

In [ ]:
a.extend(b)

In [ ]:
a

In [ ]:
b

In [2]:
b.extend(a)

In [3]:
b

[5, 2, 1, 55, 66, 3]

# remove

In [5]:
cars = ["audi","nano","mercedes","nano","audi"]
cars.remove("nano")

In [6]:
cars

['audi', 'mercedes', 'nano', 'audi']

In [7]:
cars.remove("nano")

In [8]:
cars

['audi', 'mercedes', 'audi']

# pop()

In [13]:
cars = ["audi","nano","mercedes","nano","audi"]
cars.pop(2)
cars

['audi', 'nano', 'nano', 'audi']

In [11]:
# append() and pop() togethcare used to push and pop data from the list 
# therefore list can be used as stack data structure

# sorting of list

In [18]:
nums = [-2,-11,44,5,7,99,-8]
nums.sort()

In [19]:
nums

[-11, -8, -2, 5, 7, 44, 99]

In [20]:
nums = [-2,-11,44,5,7,99,-8]
nums.sort(reverse=True)
nums

[99, 44, 7, 5, -2, -8, -11]

In [21]:
nums = [-2,-11,44,5,7,99,-8]
sorted(nums)

[-11, -8, -2, 5, 7, 44, 99]

In [22]:
nums

[-2, -11, 44, 5, 7, 99, -8]

In [23]:
nums = [-2,-11,44,5,7,99,-8]
sorted(nums, reverse=True)

[99, 44, 7, 5, -2, -8, -11]

In [24]:
nums

[-2, -11, 44, 5, 7, 99, -8]

In [26]:
#wap to find the square of given number in the list (1 to 15)
#wap to find the cube of given number in the list (1 to 15)
#wap to store lower case value of given list
fruits = ["APPLE","BANANA","MANGO","ORANGE"]