In [ ]:
fruit = ['orange' , 'apple','banana','kiwi']
type(fruit)

# list is collection of item under one variable name 
* allows duplicate
* sequenced and ordered
* indexed
* mutable 
* supports multiple data types
* in python, a list is created by placing elements inside square brackets[], seperated by commas

In [ ]:
list1 = [True, 0.3, 555,"hello", 0.3+1.4j]

In [ ]:
type(list1)

# indexing and slicing list in python

In [24]:
cars = ["audi","bentley","mercedes","rolls royce","buggati","ferrari"]

In [25]:
cars[0]

'audi'

In [26]:
cars[2]

'mercedes'

In [27]:
cars[-1] #negative indexing

'ferrari'

In [28]:
cars[-2]#negative indexing

'buggati'

In [29]:
cars [-3]#negative indexing

'rolls royce'

In [30]:
cars [-4]#negative indexing

'mercedes'

In [31]:
len(cars)

6

# SLICING

In [32]:
cars[2:3]

['mercedes']

In [33]:
cars[4:]

['buggati', 'ferrari']

In [34]:
cars[-2:]

['buggati', 'ferrari']

In [35]:
cars[:3]

['audi', 'bentley', 'mercedes']

# loops in python list

In [44]:
cars = [["audi",1],["bentley",2],["mercedes",3],["rolls royce",4],["buggati",5],["ferrari",6]]
for index, number in cars:
    print(index,"and the number is", number)

audi and the number is 1
bentley and the number is 2
mercedes and the number is 3
rolls royce and the number is 4
buggati and the number is 5
ferrari and the number is 6

In [45]:
cars = ["audi","bentley","mercedes","rolls royce","buggati","ferrari"]

In [48]:
for items in cars:
    print(items)

audi
bentley
mercedes
rolls royce
buggati
ferrari

In [56]:
cars = ["audi","bentley","mercedes","rolls royce","buggati","ferrari"]
for index in range(len(cars)):
    car = cars[index]
    print(f"the car is {index} and the number is {car}")

the car is 0 and the number is audi
the car is 1 and the number is bentley
the car is 2 and the number is mercedes
the car is 3 and the number is rolls royce
the car is 4 and the number is buggati
the car is 5 and the number is ferrari

# Mean

In [64]:
mean = [55,66,77,25] #without indexing 
total = 0
for number in mean:
    total = total + number

In [65]:
total

223

In [66]:
mean = total/len(mean)

In [67]:
mean

55.75

In [70]:
mean = [55,66,77,25] #with indexing
total = 0
for index in range(len(mean)):
    number = mean[index]
    total = total+number 
mean = total/len(mean)

In [71]:
print(mean)

55.75