# SQL
* Structured Query Language (SQL) is a standardized programming language that is used to manage relational databases and perform various operations on the data in them.
* Case Insensitive language

In [17]:
import sqlite3

# creating and connecting to database
* DATABASE NAME: student

In [18]:
con = sqlite3.connect('student.db')

In [19]:
con

# create a cursor to execute SQL query

In [20]:
cur = con.cursor()

# Creating table in database CREATE statement
```sql
CREATE TABLE table_name(column_name1 datatype, coloumn_name_2 datatype,...coloumn name_n datatype)
```

In [33]:
query = """
create table student_details
(roll_no int not null, name varchar(50), gender varchar(5))
"""

In [34]:
cur.execute(query)

   # Insert Statement in SQL

```sql
INSERT INTO table_name (column _name_1, column_name_2....column_name_n 
                        values
                        (values1, values2...valuesn)
```

In [39]:
insert_query = """
INSERT into student_details (roll_no, name, gender)
values
(1, 'Kshitiz', 'M'),
(2, 'Manzil', 'M'),
(3, 'Shraddha', 'F'),
(4, 'Jyoti', 'F')
"""

In [40]:
cur.execute(insert_query)

# Select Statement in SQL
```SQL
Select * from table_name
```

In [42]:
cur.execute("Select * from student_details ")

In [44]:
cur.execute("Select * from student_details ").fetchall() #fetchall le print garcha

[(1, 'Kshitiz', 'M'),
 (2, 'Manzil', 'M'),
 (3, 'Shraddha', 'F'),
 (4, 'Jyoti', 'F')]

In [45]:
type(cur.execute("Select * from student_details "))

sqlite3.Cursor

# Find all data with gender F

In [47]:
query = """
select name from student_details
where gender = "F"
"""

In [49]:
cur.execute(query).fetchall()

[('Shraddha',), ('Jyoti',)]

In [50]:
query = """
select name from student_details
where gender = "M"
"""

In [51]:
cur.execute(query).fetchall()

[('Kshitiz',), ('Manzil',)]

In [54]:
cur.execute("SELECT NAME FROM STUDENT_DETAILS WHERE GENDER = 'M' ").fetchall() #alternate way

[('Kshitiz',), ('Manzil',)]

# update statement

```sql
update table_name
set col_name = value
where id = <id>
```

In [61]:
update_query = """
update student_details
set name = 'Manzil Shrestha'
where roll_no = 1
"""

In [62]:
cur.execute(update_query)

In [66]:
cur.execute("select * from student_details").fetchall()

[(1, 'Manzil Shrestha', 'M'),
 (2, 'Manzil', 'M'),
 (3, 'Shraddha', 'F'),
 (4, 'Jyoti', 'F')]

In [69]:
update_query = """
update student_details
set name = 'Kshitiz'
where roll_no = 2
"""

In [70]:
cur.execute(update_query)

In [71]:
cur.execute("select * from student_details").fetchall()

[(1, 'Manzil Shrestha', 'M'),
 (2, 'Kshitiz', 'M'),
 (3, 'Shraddha', 'F'),
 (4, 'Jyoti', 'F')]

# Delete Statement

In [73]:
cur.execute("delete from student_details where roll_no = 1")

In [74]:
cur.execute("select * from student_details").fetchall()

[(2, 'Kshitiz', 'M'), (3, 'Shraddha', 'F'), (4, 'Jyoti', 'F')]

# check multiple condition using where clause

In [90]:
query = """
select * from student_details
where 
gender = 'M'
and name like 'K%'
"""

In [91]:
cur.execute(query).fetchall()

[(2, 'Kshitiz', 'M')]