# Tuple
* collection of item under one variable name
* immutable
* allows duplicate
* indexxed and ordered
* round bracket, item seperated by comma

In [1]:
cars = ("audi","mercedes","bmw")
type(cars)

tuple

In [2]:
cars

('audi', 'mercedes', 'bmw')

# indexing and slicing

In [3]:
cars [:5]

('audi', 'mercedes', 'bmw')

In [4]:
cars[:2]

('audi', 'mercedes')

# loops in tuple

In [9]:
cars = ("Tesla","Audi","Bmw","Mercedes")
for index in range(len(cars)):
    car = cars[index]
print(car)

Mercedes

In [10]:
for item in cars:
    print(item)

Tesla
Audi
Bmw
Mercedes

# Tuples are immutable

In [11]:
cars = ("Tesla","Audi","Bmw","Mercedes")
cars[0]

'Tesla'

In [12]:
cars[0]="ferrari"

TypeError: 'tuple' object does not support item assignment

# list method cannot be used in tuples

In [4]:
cars = ["audi","mercedes","BMW"]

In [5]:
cars.append("tesla")

In [6]:
cars

['audi', 'mercedes', 'BMW', 'tesla']

# type casting in tuples

In [7]:
cars = ["audi","mercedes","BMW"]
id(cars)

2057504320064

In [8]:
cars=list(cars) #list ma convert

In [9]:
cars

['audi', 'mercedes', 'BMW']

In [10]:
id(cars)

2057504169280

In [11]:
cars.append("bentley")

In [12]:
cars

['audi', 'mercedes', 'BMW', 'bentley']

In [17]:
cars = tuple(cars) #list lai tuple ma convert

In [14]:
cars

('audi', 'mercedes', 'BMW', 'bentley')

In [16]:
type(cars)

tuple

# loops in tuple

In [26]:
data = [22,33,1,4,77,50,10] #simple way (not tuple way )
type(data)

list

In [29]:
total = 0
for num in data:
    total = total + num

In [33]:
mean = total/len(data)

In [34]:
mean

28.142857142857142

In [35]:
# alterante way

In [36]:
data = [22,33,1,4,77,50,10]
total = 0
for item in data:
    total = total + item
mean = total/len(data)
print(mean)

28.142857142857142

In [38]:
sum(data)/len(data) #sum syntax use garera

28.142857142857142